{% extends 'index.html' %}
{% block title %}
    Форма на отправку
{% endblock %}
{% block body %}
<form action="{{ url_for('read_form')}}" method="post">
                <label for="email" class="form-label">Email address</label>
                <input name="userEmail" type="email" class="form-control" id="email">
                <label for="password" class="form-label">Password</label>
                <input name="userPassword" type="password" class="form-control" id="password">
                <label for="exampleInputEmail1" class="form-label">Contact</label>
                <input name="userContact" class="form-control" id="exampleInputEmail1">
                <div class="form-check form-check-inline py-3">
                    <input class="form-check-input" type="radio" name="genderMale" id="male"
                        value="Male" checked>
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genderFemale" id="female"
                        value="Female">
                    <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="form-check form-switch py-3">
                    <input class="form-check-input" type="checkbox" role="switch" id="switch" checked>
                    <label class="form-check-label" for="switch">Subscribe to Newsletter</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
{% endblock %}